In [1]:
#Reading a table yield
import pandas as pd
yield_data_df=pd.read_csv('C:\\Ibridge_project\\Dataset\\DataTables\\yield_data.csv')
print(yield_data_df)

       YIELD_ID  FARMER_ID  CROP_ID  SOIL_ID  WEATHER_ID  YIELD_AMOUNT  \
0             1        472       11     5104         213       6089.51
1             2        118       20    10751       13505       5166.88
2             3        675        8     6744        1224       3593.67
3             4        241        6    18456         788       1250.02
4             5        294        4    15194       13223       1493.02
...         ...        ...      ...      ...         ...           ...
19995     19996        389       12     4849        9350       1538.45
19996     19997         99        4    15793       11737       3437.08
19997     19998         12        2    15960       18390       4634.72
19998     19999        624        1     6486         109       6980.35
19999     20000        573       18     2668        5920       2492.19

      HARVEST_DATE
0       2025-01-04
1       2025-01-24
2       2025-01-29
3       2025-01-02
4       2025-01-29
...            ...
19995   2025-01-06
19996   2025-01-15
19997   2025-01-12
19998   2025-01-07
19999   2025-01-02

[20000 rows x 7 columns]

In [2]:
#Reading a table weather_data
import pandas as pd
weather_data_df=pd.read_csv('C:\\Ibridge_project\\Dataset\\DataTables\\weather_data.csv')
print(weather_data_df)

       WEATHER_ID        LOCATION WEATHER_DATE  TEMPERATURE  HUMIDITY  \
0               1    South Region   2025-01-29        33.33     64.02
1               2     East Region   2025-01-20        38.33     24.95
2               3     West Region   2025-01-01        24.96     55.86
3               4  Central Region   2025-01-18        39.43     50.27
4               5     West Region   2025-01-31         3.26     67.04
...           ...             ...          ...          ...       ...
19995       19996     West Region   2025-02-01         2.24     44.29
19996       19997  Central Region   2025-01-14        17.39     60.86
19997       19998     West Region   2025-01-08        -0.17     22.12
19998       19999     West Region   2025-01-07         3.35     78.23
19999       20000  Central Region   2025-01-02         4.03     32.96

       RAINFALL  WIND_SPEED
0         45.33       23.05
1        148.78      135.75
2         42.88       33.96
3          6.31      137.81
4        174.20       99.64
...         ...         ...
19995    124.49       59.53
19996     39.94      142.60
19997    119.71       10.53
19998     87.04       45.67
19999    182.60      128.39

[20000 rows x 7 columns]

In [3]:
#Reading a table subsidy_data
import pandas as pd
subsidy_data_df=pd.read_csv('C:\\Ibridge_project\\Dataset\\DataTables\\subsidy_data.csv')
print(subsidy_data_df)

       SUBSIDY_ID  FARMER_ID  SUBSIDY_AMOUNT SUBSIDY_PURPOSE DATE_RECEIVED
0               1        362         9256.78      Fertilizer    2025-01-18
1               2        924         6529.72   Seed Purchase    2025-01-29
2               3        816         2106.30    Pest Control    2025-01-11
3               4        124         5217.88    Pest Control    2025-01-27
4               5        514         9353.19       Equipment    2025-01-25
...           ...        ...             ...             ...           ...
19995       19996        178         1325.11      Irrigation    2025-02-02
19996       19997        136         8965.78       Equipment    2025-01-04
19997       19998        339         9363.91      Irrigation    2025-01-11
19998       19999        838         6417.79      Fertilizer    2025-01-02
19999       20000        135         6384.45      Fertilizer    2025-01-29

[20000 rows x 5 columns]

In [4]:
#Reading a table soil_data
import pandas as pd
soil_data_df=pd.read_csv('C:\\Ibridge_project\\Dataset\\DataTables\\soil_data.csv')
print(soil_data_df)

       SOIL_ID        LOCATION  PH_LEVEL  ORGANIC_MATTER  NITROGEN  \
0            1     East Region      6.43            2.85      1.43
1            2     East Region      8.06            5.17      0.98
2            3  Central Region      4.99            7.70      0.86
3            4  Central Region      7.01            6.45      1.37
4            5     West Region      8.28            1.49      0.95
...        ...             ...       ...             ...       ...
19995    19996  Central Region      5.64            9.49      0.38
19996    19997    South Region      6.21            5.83      1.17
19997    19998    South Region      5.58            8.21      0.60
19998    19999  Central Region      7.88            6.20      0.70
19999    20000    North Region      6.63            8.32      0.73

       PHOSPHORUS  POTASSIUM
0            4.90      15.68
1           39.01       4.93
2           47.20      27.54
3           25.17       3.64
4           28.93      27.98
...           ...        ...
19995       36.88      22.53
19996        6.10      19.88
19997       17.52      38.50
19998       41.72      47.09
19999       26.62      43.15

[20000 rows x 7 columns]

In [5]:
#Reading a table price_data
import pandas as pd
price_data_df=pd.read_csv('C:\\Ibridge_project\\Dataset\\DataTables\\price_data.csv')
print(price_data_df)

       PRICE_ID  CROP_ID    MARKET  PRICE_PER_KG  PRICE_DATE
0             1        5  Market A        139.68  2025-01-18
1             2        2  Market A        158.43  2025-01-02
2             3        8  Market B        172.21  2025-01-28
3             4       20  Market D         79.39  2025-01-23
4             5        2  Market A         22.72  2025-01-13
...         ...      ...       ...           ...         ...
19995     19996       11  Market E        180.34  2025-01-27
19996     19997       18  Market A         73.22  2025-01-23
19997     19998        7  Market E        189.86  2025-01-23
19998     19999        2  Market D         89.65  2025-01-31
19999     20000        1  Market E         91.88  2025-01-04

[20000 rows x 5 columns]

In [6]:
#Reading a table pest_data
import pandas as pd
pest_data_df=pd.read_csv('C:\\Ibridge_project\\Dataset\\DataTables\\pest_data.csv')
print(pest_data_df)

       PEST_ID    PEST_NAME  AFFECTED_CROP_ID
0            1  Caterpillar                 5
1            2  Caterpillar                 7
2            3         Mite                20
3            4     Whitefly                12
4            5       Fungus                11
...        ...          ...               ...
19995    19996       Locust                 5
19996    19997      Termite                17
19997    19998         Mite                18
19998    19999       Thrips                 6
19999    20000       Locust                 5

[20000 rows x 3 columns]

In [7]:
#Reading a table irrigation_data
import pandas as pd
irrigation_data_df=pd.read_csv('C:\\Ibridge_project\\Dataset\\DataTables\\irrigation_data.csv')
print(irrigation_data_df)

       IRRIGATION_ID        LOCATION IRRIGATION_TYPE  WATER_USAGE  \
0                  1    North Region         Surface       482.30
1                  2    South Region      Subsurface       216.06
2                  3     East Region         Surface       483.91
3                  4  Central Region      Subsurface       156.14
4                  5    South Region         Surface       317.94
...              ...             ...             ...          ...
19995          19996     West Region      Subsurface       359.97
19996          19997     East Region       Sprinkler       226.61
19997          19998    North Region         Surface       162.74
19998          19999  Central Region      Subsurface       356.97
19999          20000     West Region            Drip       360.59

      LAST_IRRIGATION_DATE  FARMER_ID
0               2025-01-23        804
1               2025-01-28        157
2               2025-01-17        375
3               2025-01-18        542
4               2025-01-05        453
...                    ...        ...
19995           2025-01-29        504
19996           2025-01-17        535
19997           2025-01-14        307
19998           2025-01-08        236
19999           2025-01-01        609

[20000 rows x 6 columns]

In [8]:
#Reading a table fertilizer_data
import pandas as pd
fertilizer_data_df=pd.read_csv('C:\\Ibridge_project\\Dataset\\DataTables\\fertilizer_data.csv')
print(fertilizer_data_df)

       FERTILIZER_ID   FERTILIZER_NAME  NITROGEN_CONTENT  PHOSPHORUS_CONTENT  \
0                  1               DAP             38.71               26.23
1                  2               NPK             37.45               27.73
2                  3   Calcium Nitrate             36.99               18.45
3                  4  Ammonium Sulfate             20.10               17.47
4                  5               NPK             15.10               11.32
...              ...               ...               ...                 ...
19995          19996              Urea             22.48               16.12
19996          19997  Ammonium Sulfate             44.92               26.71
19997          19998               NPK             10.84               14.56
19998          19999   Calcium Nitrate             22.44               14.46
19999          20000               NPK             27.34                8.47

       POTASSIUM_CONTENT  RECOMMENDED_CROP_ID
0                  15.61                    5
1                  15.24                    3
2                   6.68                    1
3                   7.18                   19
4                   9.51                   11
...                  ...                  ...
19995              29.63                   20
19996              22.59                   10
19997              22.99                    7
19998              17.43                   18
19999              18.40                   10

[20000 rows x 6 columns]

In [9]:

#Reading a table farmer_records
import pandas as pd
farmer_records_df=pd.read_csv('C:\\Ibridge_project\\Dataset\\DataTables\\farmer_records.csv')
print(farmer_records_df)

       RECORD_ID  FARMER_ID  INVESTMENT_AMOUNT  OPERATIONAL_COST   PROFIT  \
0              1       9211           25337.88          23145.88  1461.51
1              2       6233           47083.58          17050.43  5148.89
2              3       4562           15316.92          21222.75  2350.62
3              4       5671           31429.78           7343.53  2305.52
4              5       6260           36577.67           7072.41  4412.52
...          ...        ...                ...               ...      ...
19995      19996       5310           40781.59          19720.89  7313.44
19996      19997       7734           24828.90          29565.69  1304.31
19997      19998       7948           21331.94          16180.12  2090.91
19998      19999       1955           31813.55           9256.61  2547.70
19999      20000       5706           23584.85          26086.10  2516.92

      RECORD_DATE
0      2022-10-06
1      2023-04-29
2      2020-08-01
3      2024-07-15
4      2024-02-04
...           ...
19995  2020-09-16
19996  2021-02-26
19997  2022-10-31
19998  2023-11-26
19999  2023-08-24

[20000 rows x 6 columns]

In [10]:
#Reading a table farmer_details
import pandas as pd
farmer_details_df=pd.read_csv('C:\\Ibridge_project\\Dataset\\DataTables\\farmer_details.csv')
print(farmer_details_df)

       FARMER_ID             NAME             LOCATION          CONTACT_NUMBER
0              1        Gary Rich           Floresside     (635)804-8749x96180
1              2     Sergio Baker      East Brianhaven       394.845.6195x0262
2              3       Zoe Bryant      North Jennatown            430-482-4037
3              4    Mathew Thomas         Atkinsonport  001-214-598-4780x77501
4              5  Vanessa Sanchez        East Bradstad            278.525.2179
...          ...              ...                  ...                     ...
19995      19996     Denise Allen  North Michelleville       822.550.6858x5216
19996      19997   James Williams            Hallshire       (936)297-1653x483
19997      19998       Scott Gray           Newmantown      440-250-7692x33124
19998      19999      Emily Burns             Nashland      988.660.5806x37803
19999      20000   Nicholas Ramos   Lake Lawrencemouth      204-394-4133x06274

[20000 rows x 4 columns]

In [11]:
#Reading a table crop_data
import pandas as pd
crop_data_df=pd.read_csv('C:\\Ibridge_project\\Dataset\\DataTables\\crop_data.csv')
print(crop_data_df)

       CROP_ID  CROP_NAME CROP_TYPE GROWING_SEASON
0            1       Jute    Legume         Kharif
1            2     Barley   Oilseed         Kharif
2            3     Barley    Legume           Zaid
3            4  Sugarcane   Oilseed         Kharif
4            5     Cotton     Fiber           Zaid
...        ...        ...       ...            ...
19995    19996       Oats     Fiber         Kharif
19996    19997       Oats    Cereal           Zaid
19997    19998       Oats   Oilseed         Kharif
19998    19999    Soybean    Cereal           Rabi
19999    20000     Cotton   Oilseed         Kharif

[20000 rows x 4 columns]

In [12]:
#Reading a table control_data
import pandas as pd
control_data_df=pd.read_csv('C:\\Ibridge_project\\Dataset\\DataTables\\control_data.csv')
print(control_data_df)

       CONTROL_ID  PEST_ID      METHOD  EFFECTIVENESS
0               1       40     Organic          94.43
1               2       39    Cultural          52.90
2               3       28    Cultural          52.78
3               4       26  Mechanical          99.55
4               5       47    Cultural          51.25
...           ...      ...         ...            ...
19995       19996       18    Cultural          88.72
19996       19997        8    Chemical          64.99
19997       19998       10  Mechanical          65.72
19998       19999       12    Cultural          74.88
19999       20000       11  Mechanical          84.67

[20000 rows x 4 columns]

In [13]:
fertilizer_data_df

,FERTILIZER_ID,FERTILIZER_NAME,NITROGEN_CONTENT,PHOSPHORUS_CONTENT,POTASSIUM_CONTENT,RECOMMENDED_CROP_ID
0,1,DAP,38.71,26.23,15.61,5
1,2,NPK,37.45,27.73,15.24,3
2,3,Calcium Nitrate,36.99,18.45,6.68,1
3,4,Ammonium Sulfate,20.10,17.47,7.18,19
4,5,NPK,15.10,11.32,9.51,11
...,...,...,...,...,...,...
19995,19996,Urea,22.48,16.12,29.63,20
19996,19997,Ammonium Sulfate,44.92,26.71,22.59,10
19997,19998,NPK,10.84,14.56,22.99,7
19998,19999,Calcium Nitrate,22.44,14.46,17.43,18
19999,20000,NPK,27.34,8.47,18.40,10

In [14]:
#Finding the missing values in fertilizer table:
fertilizer_data_df_missing_value = fertilizer_data_df.fillna({'nitrogen_content': 0, 'phosphorus_content' : 0, 'potassium_content':0},inplace=True)

print(fertilizer_data_df_missing_value)

None

In [15]:
#finding the missing values in price
price_data_df_missing_values = price_data_df.fillna({'market':0,'price_per_kg':0})
print(price_data_df_missing_values)

       PRICE_ID  CROP_ID    MARKET  PRICE_PER_KG  PRICE_DATE
0             1        5  Market A        139.68  2025-01-18
1             2        2  Market A        158.43  2025-01-02
2             3        8  Market B        172.21  2025-01-28
3             4       20  Market D         79.39  2025-01-23
4             5        2  Market A         22.72  2025-01-13
...         ...      ...       ...           ...         ...
19995     19996       11  Market E        180.34  2025-01-27
19996     19997       18  Market A         73.22  2025-01-23
19997     19998        7  Market E        189.86  2025-01-23
19998     19999        2  Market D         89.65  2025-01-31
19999     20000        1  Market E         91.88  2025-01-04

[20000 rows x 5 columns]

In [16]:
#finding the missing values in subc
subsidy_data_df_missing_values= subsidy_data_df.fillna({'subsidy_amount':0,'subsidy_purpose':0,'date_resived':0},inplace=True)
print(subsidy_data_df_missing_values)

None

In [17]:
#finding the missing values in irrigation
irrigation_data_df_missing_values= irrigation_data_df.fillna({'water_usage':0,'location':0,'farmer_id':0},inplace=True)
print(irrigation_data_df_missing_values)

None

In [18]:
#standarize crop names
crop_data_df_standarize_crop_name= crop_data_df['CROP_NAME'].str.strip().str.upper()
print(crop_data_df_standarize_crop_name)

0             JUTE
1           BARLEY
2           BARLEY
3        SUGARCANE
4           COTTON
           ...
19995         OATS
19996         OATS
19997         OATS
19998      SOYBEAN
19999       COTTON
Name: CROP_NAME, Length: 20000, dtype: object

In [19]:
crop_data_df

       CROP_ID  CROP_NAME CROP_TYPE GROWING_SEASON
0            1       Jute    Legume         Kharif
1            2     Barley   Oilseed         Kharif
2            3     Barley    Legume           Zaid
3            4  Sugarcane   Oilseed         Kharif
4            5     Cotton     Fiber           Zaid
...        ...        ...       ...            ...
19995    19996       Oats     Fiber         Kharif
19996    19997       Oats    Cereal           Zaid
19997    19998       Oats   Oilseed         Kharif
19998    19999    Soybean    Cereal           Rabi
19999    20000     Cotton   Oilseed         Kharif

[20000 rows x 4 columns]

In [20]:
#Encode categrical crop types
crop_data_df_categrical=crop_data_df['CROP_TYPE'].astype('category').cat.codes
print(crop_data_df_categrical)

0        2
1        3
2        2
3        3
4        1
        ..
19995    1
19996    0
19997    3
19998    0
19999    3
Length: 20000, dtype: int8

In [21]:
#categrical crops based on type
crop_data_df_cat = crop_data_df['CROP_NAME'].apply(lambda x:
'cereal' if x in ['WHEAT','RICE','MIZE'] else  
'Vegetable' if x in ['CARROT','POTATO'] else
'Fruit' if x in ['APPLE','MANGO'] else 'other')
print(crop_data_df_cat)

0        other
1        other
2        other
3        other
4        other
         ...
19995    other
19996    other
19997    other
19998    other
19999    other
Name: CROP_NAME, Length: 20000, dtype: object

In [22]:
#Normalize soil ph levels
soil_data_df_ph=soil_data_df['PH_LEVEL'].clip(0,14)
print(soil_data_df_ph)

0        6.43
1        8.06
2        4.99
3        7.01
4        8.28
         ...
19995    5.64
19996    6.21
19997    5.58
19998    7.88
19999    6.63
Name: PH_LEVEL, Length: 20000, dtype: float64

In [23]:
#Replace missing pest names
pest_data_df_replace=pest_data_df['PEST_NAME'].fillna('unknown',inplace=True)
print (pest_data_df)

       PEST_ID    PEST_NAME  AFFECTED_CROP_ID
0            1  Caterpillar                 5
1            2  Caterpillar                 7
2            3         Mite                20
3            4     Whitefly                12
4            5       Fungus                11
...        ...          ...               ...
19995    19996       Locust                 5
19996    19997      Termite                17
19997    19998         Mite                18
19998    19999       Thrips                 6
19999    20000       Locust                 5

[20000 rows x 3 columns]

C:\Users\Guess\AppData\Local\Temp\ipykernel_7032\896672645.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  pest_data_df_replace=pest_data_df['PEST_NAME'].fillna('unknown',inplace=True)

In [24]:
#Remove duplicate records crop data
crop_data_df_duplicate=crop_data_df.drop_duplicates(subset=['CROP_ID'],inplace=True)
print(crop_data_df_duplicate)

None

In [25]:
#Remove duplicate records farmer records
farmer_records_df_duplicate=farmer_records_df.drop_duplicates(subset=['FARMER_ID','RECORD_DATE'],inplace=True)
farmer_records_df

,RECORD_ID,FARMER_ID,INVESTMENT_AMOUNT,OPERATIONAL_COST,PROFIT,RECORD_DATE
0,1,9211,25337.88,23145.88,1461.51,2022-10-06
1,2,6233,47083.58,17050.43,5148.89,2023-04-29
2,3,4562,15316.92,21222.75,2350.62,2020-08-01
3,4,5671,31429.78,7343.53,2305.52,2024-07-15
4,5,6260,36577.67,7072.41,4412.52,2024-02-04
...,...,...,...,...,...,...
19995,19996,5310,40781.59,19720.89,7313.44,2020-09-16
19996,19997,7734,24828.90,29565.69,1304.31,2021-02-26
19997,19998,7948,21331.94,16180.12,2090.91,2022-10-31
19998,19999,1955,31813.55,9256.61,2547.70,2023-11-26
19999,20000,5706,23584.85,26086.10,2516.92,2023-08-24

In [26]:
#handle missing calculation farmer_record_df
if'farmer_records_df'in farmer_records_df:
    farmer_records_df['farmer_records_df']['profit'].fillna(
        farmer_records_df['farmer_records_df']['investment_amount']-farmer_records_df['farmer_records_df']['operational_cost'],inplace=True)
print(farmer_records_df)

       RECORD_ID  FARMER_ID  INVESTMENT_AMOUNT  OPERATIONAL_COST   PROFIT  \
0              1       9211           25337.88          23145.88  1461.51
1              2       6233           47083.58          17050.43  5148.89
2              3       4562           15316.92          21222.75  2350.62
3              4       5671           31429.78           7343.53  2305.52
4              5       6260           36577.67           7072.41  4412.52
...          ...        ...                ...               ...      ...
19995      19996       5310           40781.59          19720.89  7313.44
19996      19997       7734           24828.90          29565.69  1304.31
19997      19998       7948           21331.94          16180.12  2090.91
19998      19999       1955           31813.55           9256.61  2547.70
19999      20000       5706           23584.85          26086.10  2516.92

      RECORD_DATE
0      2022-10-06
1      2023-04-29
2      2020-08-01
3      2024-07-15
4      2024-02-04
...           ...
19995  2020-09-16
19996  2021-02-26
19997  2022-10-31
19998  2023-11-26
19999  2023-08-24

[19984 rows x 6 columns]

In [27]:
#convert profit to absolute value
farmer_records_df['PROFIT']=farmer_records_df['PROFIT'].abs()
print(farmer_records_df)

       RECORD_ID  FARMER_ID  INVESTMENT_AMOUNT  OPERATIONAL_COST   PROFIT  \
0              1       9211           25337.88          23145.88  1461.51
1              2       6233           47083.58          17050.43  5148.89
2              3       4562           15316.92          21222.75  2350.62
3              4       5671           31429.78           7343.53  2305.52
4              5       6260           36577.67           7072.41  4412.52
...          ...        ...                ...               ...      ...
19995      19996       5310           40781.59          19720.89  7313.44
19996      19997       7734           24828.90          29565.69  1304.31
19997      19998       7948           21331.94          16180.12  2090.91
19998      19999       1955           31813.55           9256.61  2547.70
19999      20000       5706           23584.85          26086.10  2516.92

      RECORD_DATE
0      2022-10-06
1      2023-04-29
2      2020-08-01
3      2024-07-15
4      2024-02-04
...           ...
19995  2020-09-16
19996  2021-02-26
19997  2022-10-31
19998  2023-11-26
19999  2023-08-24

[19984 rows x 6 columns]

In [28]:
#remove negative investment or operational costs
farmer_records_df_remove=farmer_records_df[['INVESTMENT_AMOUNT','OPERATIONAL_COST']].clip(lower=0)
print(farmer_records_df_remove)

       INVESTMENT_AMOUNT  OPERATIONAL_COST
0               25337.88          23145.88
1               47083.58          17050.43
2               15316.92          21222.75
3               31429.78           7343.53
4               36577.67           7072.41
...                  ...               ...
19995           40781.59          19720.89
19996           24828.90          29565.69
19997           21331.94          16180.12
19998           31813.55           9256.61
19999           23584.85          26086.10

[19984 rows x 2 columns]

In [29]:
#flag low water usage
median_water_usage=irrigation_data_df['WATER_USAGE'].median()
irrigation_data_water_usage=irrigation_data_df['WATER_USAGE'] < median_water_usage
print(irrigation_data_water_usage)

0        False
1         True
2        False
3         True
4        False
         ...
19995    False
19996     True
19997     True
19998    False
19999    False
Name: WATER_USAGE, Length: 20000, dtype: bool

In [30]:
irrigation_data_df

,IRRIGATION_ID,LOCATION,IRRIGATION_TYPE,WATER_USAGE,LAST_IRRIGATION_DATE,FARMER_ID
0,1,North Region,Surface,482.30,2025-01-23,804
1,2,South Region,Subsurface,216.06,2025-01-28,157
2,3,East Region,Surface,483.91,2025-01-17,375
3,4,Central Region,Subsurface,156.14,2025-01-18,542
4,5,South Region,Surface,317.94,2025-01-05,453
...,...,...,...,...,...,...
19995,19996,West Region,Subsurface,359.97,2025-01-29,504
19996,19997,East Region,Sprinkler,226.61,2025-01-17,535
19997,19998,North Region,Surface,162.74,2025-01-14,307
19998,19999,Central Region,Subsurface,356.97,2025-01-08,236
19999,20000,West Region,Drip,360.59,2025-01-01,609

In [31]:
#standardize market names
price_data_df_market_names=price_data_df['MARKET'].str.strip().str.title()
print(price_data_df_market_names)

0        Market A
1        Market A
2        Market B
3        Market D
4        Market A
           ...
19995    Market E
19996    Market A
19997    Market E
19998    Market D
19999    Market E
Name: MARKET, Length: 20000, dtype: object

In [32]:
#normalize water usage
irrigation_data_water_usage=(
    irrigation_data_df['WATER_USAGE']/irrigation_data_df.groupby('IRRIGATION_ID')['WATER_USAGE'].transform('mean')
)
print(irrigation_data_water_usage)

0        1.0
1        1.0
2        1.0
3        1.0
4        1.0
        ...
19995    1.0
19996    1.0
19997    1.0
19998    1.0
19999    1.0
Name: WATER_USAGE, Length: 20000, dtype: float64

In [33]:
#file path loading the clean data
file_path='C:\\Ibridge_project\\Practice_File\\Clean_Data\\price_data_df3.csv'
cleaned_data=price_data_df.to_csv(file_path,index=False)

In [34]:
#file path loading the clean data
file_path='C:\\Ibridge_project\\Practice_File\\Clean_Data\\irrigation_data_df4.csv'
cleaned_data=irrigation_data_df.to_csv(file_path,index=False)

In [35]:
#file path loading the clean data
file_path='C:\\Ibridge_project\\Practice_File\\Clean_Data\\farmer_records_df5.csv'
cleaned_data=farmer_records_df.to_csv(file_path,index=False)

In [36]:
#file path loading the clean data
file_path='C:\\Ibridge_project\\Practice_File\\Clean_Data\\crop_data_df6.csv'
cleaned_data=crop_data_df.to_csv(file_path,index=False)

In [37]:
#file path loading the clean data
file_path='C:\\Ibridge_project\\Practice_File\\Clean_Data\\subsidy_data_df7.csv'
cleaned_data=subsidy_data_df.to_csv(file_path,index=False)

In [38]:
#file path loading the clean data
file_path='C:\\Ibridge_project\\Practice_File\\Clean_Data\\pest_data_df8.csv'
cleaned_data=pest_data_df.to_csv(file_path,index=False)

In [39]:
#file path loading the clean data
file_path='C:\\Ibridge_project\\Practice_File\\Clean_Data\\soil_data_df9.csv'
cleaned_data=soil_data_df.to_csv(file_path,index=False)